# SQL Server
MSSQL_SA_PASSWORD=YourStrong@Password123

# MySQL
MYSQL_ROOT_PASSWORD=rootpassword123
MYSQL_DATABASE=stackoverflow_processed
MYSQL_USER=project101_user
MYSQL_PASSWORD=userpassword123

# Grafana
GRAFANA_PASSWORD=admin123

# Airflow
AIRFLOW_SECRET_KEY=your_secret_key_here
AIRFLOW_ADMIN_PASSWORD=admin123